/build/
/dist/
/install/
/ipk_stage/
/configuration/dist/
/configuration/node_modules/
/configuration/configuration-check.js
/.cache/
/.pytest_cache/
**/__pycache__/
*.pyc
*~
/doc/latex/
/doc/html/
/tags
/.vscode/
